.forums {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.forums *,
.forums *:before,
.forums *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.forums .forum-header,
.forums .forum-body,
.forums .forum-footer {
  clear: both;
}
.forums .forum-header {
  background: #efefef;
  overflow: hidden;
}
.forums .forum-body .alert {
  margin: 10px 0 0;
}
.forums .forum-body .forum-lego {
  border-bottom: 1px solid #efefef;
}
.forums .forum-body .forum-lego:hover {
  background: #eaeaea;
}
.forums .forum-body .topic-tags {
  margin-top: 10px;
}
.forums .forum-body .forum-topic-permalink {
  margin-right: 5px;
}
.forums .forum-body .mini-pagination {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 4px;
}
.forums .forum-body .mini-pagination li {
  padding: 0;
}
.forums .forum-body .mini-pagination li a,
.forums .forum-body .mini-pagination li span {
  padding: 2px 4px;
  font-size: 10px;
  line-height: 12px;
}
.forums .forum-header {
  font-size: 14px;
  font-weight: bold;
}
.forums .forum-lego {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  overflow: hidden;
}
.forums .forum-lego li {
  float: left;
  margin: 0;
  padding: 10px 14px;
  list-style: none;
}
.forums .forum-info {
  width: 40%;
}
.forums .forum-topic-info {
  width: 35%;
}
.forums .forum-topic-view-count,
.forums .forum-topic-voice-count,
.forums .forum-topic-reply-count,
.forums .forum-topic-count,
.forums .forum-reply-count {
  text-align: center;
  width: 15%;
}
.forums .forum-topic-freshness,
.forums .forum-freshness {
  text-align: right;
  width: 30%;
}
.forums .forum-topic-freshness .forum-latest-poster,
.forums .forum-freshness .forum-latest-poster {
  font-size: 11px;
}
.forums .forum-topic-freshness p:last-child,
.forums .forum-freshness p:last-child {
  margin-bottom: 0;
}
.forums .forum-topic-freshness {
  width: 20%;
}
.forums .forum-meta {
  font-size: 11px;
}
.forums .forum-meta p:last-child {
  margin-bottom: 0;
}
.forums .forum-reply-header {
  background: #eaeaea;
  font-style: italic;
  font-size: 12px;
}
.forums .forum-reply-header:hover {
  background: #eaeaea;
}
.forums .forum-reply-body.forum-lego:hover {
  background: transparent;
}
.forums .forum-reply-author {
  width: 20%;
}
.forums .forum-reply-content {
  width: 80%;
}
.forums .forum-reply-content .last-edited {
  margin-top: 20px;
  border-top: 1px solid #efefef;
  font-size: 10px;
  text-align: right;
}
.forums .forum-actions {
  float: right;
}
.forums .forum-actions form {
  display: inline;
}
.forums .forum-actions .forum-reply-deletelink,
.forums .forum-actions .forum-topic-deletelink {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
  margin-right: -1px;
}
.forums .forum-actions .forum-topic-permalink {
  margin-right: 0;
}
.forums .forum-actions .forum-topic-reopenlink,
.forums .forum-actions .forum-topic-resolvelink {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
}

.forum-form {
  margin-top: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.forum-form *,
.forum-form *:before,
.forum-form *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.forum-form .alert {
  width: 65.81196581196582%;
}
.forum-form .mce-panel {
  background: transparent;
  border: none;
  width: 90%;
}

#forum-search {
  position: absolute;
  top: -60px;
  right: 0;
}
#forum-search *,
#forum-search *:before,
#forum-search *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#forum-search input[type="text"] {
  padding: 4px 14px;
  height: 30px;
}
